<% provide(:title, 'About Us') %>
<h1>About Me</h1>
<p>I'm Thierry Berger, student in <abbr title="Information Technology">IT</abbr>. I'll hopefully be graduated in 2015 with a master degree. Check my <a href="/CV.pdf">CV</a> !</p>
<h2>Credits</h2>
<p>
  I've developped this website with Ruby on Rails technology.
  I thank Ruby on Rails Tutorial that you can find here: 
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>
