<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  I'm Thierry Berger, I live in Nancy (France).
  You can post a public post to contact me after signing up on the home page.
  I'll add a mailing contact in the future.
</p>
