<% provide(:title, 'Help') %>
<h1>Help</h1>
<h2>F.A.Q.</h2>
<ul>
  <li>
    <h3>What is this website for ?</h3>
    <p>Look at my blog, there will be articles about Korea, programming, and games. I plan to add modest html games in the future, and my CV.</p>
  </li>
  <li>
    <h3>What can I do on that website ?</h3>
    <p>You can read blog articles. you can sign up if you want to write some. In the future you'll be able to play games, and contact me privately.</p>
  </li>
</ul>
