<div class="center hero-unit">
  <h1>Welcome</h1>

  <h2>
    This is the home page for my website, you can find a link to my blog underneath.
  </h2>
  <h3>
    If you sign up, you'll be able to post public messages.
  </h3>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<hr />
<div>
  <%= link_to (image_tag "BlogIcon.png", :title => 'Check my blog'), posts_path %>
  <%= link_to (image_tag "CVSeriousIcon.png", :title => 'Check my pdf CV'), '/CV.pdf' %>
</div>
