<div class="center hero-unit">
  <h1>Welcome</h1>

  <h2>
    This is the home page for my website, you can find a link to my blog underneath.
  </h2>
  <h3>
    If you sign up, you'll be able to post public messages.
  </h3>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<div>
  <%= link_to "My Blog", posts_path %>
</div>

<canvas id="canvas_navigation" width="300" height="225"> </canvas>

<script type="text/javascript">
  var b_canvas = document.getElementById("canvas_navigation");
  var b_context = b_canvas.getContext("2d");
  b_context.fillRect(0, 0, 300, 225);
</script>
