# [begin]
# ignoring RoR files

# github ignores
/Web/*.rbc
/Web/*.sassc
/Web/.sass-cache
/Web/capybara-*.html
/Web/.rspec
/Web/.bundle
# /Web/vendor/bundle # already defined
# /Web/log/*
# /Web/tmp/*
# /Web/db/*.sqlite3
/Web/public/system/*
/Web/coverage/
/Web/spec/tmp/*
/Web/**.orig
/Web/rerun.txt
/Web/pickle-email-*.html


# Ignore bundler config
/Web/.bundle

# Ignore the default SQLite database.
/Web/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/Web/log/*.log
/Web/tmp

# Ignore other unneeded files.
Web/doc/
Web/*.swp
Web/*~
Web/.project
Web/.DS_Store
Web/.idea

# # ignoring RoR files
# [end]



# ignoring editor files
# [begin]

# standard backup files
*~

# vim
*.un

# emacs
.\#*\#

# ignoring editor files
# [end]
