<% provide(:title, "Posts") %>
<div class="row">

  <% if signed_in? %>
    <section>
      <%= render 'shared/post_form' %>
    </section>
  <% end %>
  <% if @posts && @posts.any? %>
    <h3>Posts (<%= @posts.count %>)</h3>
    <ol class="posts">
      <%= render @posts %>
    </ol>
    <%= will_paginate @posts %>
  <% end %>
</div>
